<div class="app-container">
  <mat-toolbar color="primary" class="app-header">
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Shopping cart">
      <mat-icon matBadge="0" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">
    <h1>Placeholder text peer review kolleganak</h1>
     <p>Csao! Nem jo a routing, csak beadas miatt letrehozott project kb.</p>
     <p>a file structure probalt megfelelni a merfoldko kovetelmenyeinek, majd latod</p>  
  </div>
</div>