<div class="app-container">
  <mat-toolbar color="primary" class="app-header">
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Shopping cart">
      <mat-icon matBadge="0" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">
    <h1>Sorry, az istenert se tudtam ezt az ocsmany backgroundot megvaltoztatni :D</h1>
    <p>Ha f12-ben kikeresed, engedni fogja h atrakd a background colourt.</p>
    <app-phone-list></app-phone-list>
  </div>
</div>