/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%; 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .mat-typography h1, 
  .mat-typography h2, 
  .mat-typography h3, 
  .mat-typography h4 {
    margin-bottom: 16px;
  }
  
  /* Mobile-first approach */
  @media (max-width: 768px) {
    .mat-card {
      padding: 12px !important;
    }
  }

  .mat-mdc-card {
    background-color: blueviolet;
  }
